extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/passenger') Passengers
  div.list-group-item
    span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/ticket') Tickets
  div.list-group-item
    span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/train') Trains
  div.list-group-item
    span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/sold_tickets') Sold Tickets
